@import '../../../scss-helper/scss-variable.scss';

.Menu {
    box-shadow: 0 0 10px #c4c5c5;
    background-color: #fff;
    transform-origin: top;
    transform: scale(0);
    position: absolute;
    z-index: 2;
    transition: $transition;

    button {
        width: 100%;
        border-radius: 0;
        padding: 10px;

        span {
            display: flex;
            justify-content: flex-start;
            text-transform: initial;
            font-weight: 400;
        }
    }

    &.open {
        transform: scale(1);
    }
}