@import '../../../scss-helper/scss-variable.scss';

.Empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $darkgray;
    @extend %absolute;

    span:last-child {
        margin-top: 10px;
    }
}